@import url(../../index.css);

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 888;
    flex-direction: row;
    align-items: center;
    color: var(--text);
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

.headerLeftCont {
    width: 50%;
    background: none;
}

.headerLogo {
    width: 50%;
    background: none;
}

.headerLogo img {
    width: 75%;
    height: 100%;
    background: none;
}

.linktoMain {
    background: none;
}

.headerRightCont {
    background: none;
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-family: "Lora";
    font-size: var(--fs-md);
    background: none;
}

.langCont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    gap: 5px;
    background: none;
}

.btnBurger {
    border: none;
    background: none;
    font-size: var(--fs-lg);
    color: var(--text);
}

.headerLang {
    background: none;
    border: none;
    font-size: var(--fs-md);
    color: var(--text);
    margin-right: 15px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
    box-shadow: none;
}

.headerNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-xl);
    background-color: var(--bg);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-16px);
    pointer-events: none;
    transition:
        opacity 0.75s ease,
        transform 0.9s ease,
        visibility 1s ease;
}

.headerNav.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menuLogo {
    height: 20%;
    margin-top: -10vh;
    padding-bottom: 5%;
}

.headerNav a {
    font-family: "Elms";
    text-decoration: none;
    color: var(--text);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-bottom: 1px solid;
    border-image: linear-gradient(-120deg,
            #7B736A,
            #F6F3EE) 2;
}

.btnCloseMenu {
    position: absolute;
    background: none;
    top: 15px;
    right: 15px;
    padding: 15px;
    border: none;
    font-size: var(--fs-sm);
    color: var(--text);
}