@import url(./index.css);

main {
    width: 100vw;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
}

.hero {
    padding-top: 5%;
    width: 100%;
    height: auto;
}

.landingWelcome {
    width: 90%;
    height: auto;
    padding-bottom: 5%;
    margin-left: 5vw;
}


.wlcTitle {
    font-family: "Elms";
    font-size: var(--fs-xxs);
    color: var(--accent);
    padding-right: 20%;
    padding-top: 5%;
    font-weight: 600;
}

.wlcCatch {
    font-family: "Elms";
    font-size: var(--fs-xs);
    color: var(--accent);
    padding-right: 20%;
    padding-top: 5%;
    font-weight: 400;
}

.wlcName {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: var(--fs-display);
    font-weight: 500;
    border-bottom: 1px solid;
    color: var(--text);
    border-image: linear-gradient(90deg,
            #7B736A, #F6F3EE, #F6F3EE) 1;
}

.wlcDescription {
    color: var(--text);
    font-family: "Elms";
    font-weight: 400;
    font-size: var(--fs-sm);
    padding-top: 10%;
    margin-right: 10%;
}

.btnExplore {
    width: auto;
    background: none;
    display: flex;
    align-items: center;
    font-family: "Elms";
    font-size: var(--fs-xs);
    font-weight: 600;
    gap: 10%;
    border: 1px solid var(--accent);
    margin-top: 5%;
    padding: 10px 25px 10px 25px;
    color: var(--text);
    white-space: nowrap;
    text-align: justify;
}

.arrowUpRight {
    font-size: var(--fs-md);
    font-weight: 300;
}

.btnResume {
    width: auto;
    background: none;
    display: none;
    align-items: center;
    font-family: "Elms";
    font-size: var(--fs-xs);
    font-weight: 600;
    gap: 10%;
    border: none;
    border-bottom: 1px solid var(--accent);
    padding-top: 5%;
    padding-bottom: 5px;
    margin: 10px 25px 10px 25px;
    color: var(--text);
    white-space: nowrap;
    text-align: justify;
}

.heroModel {
    position: relative;
    width: 100%;
    height: 50vh;
}

canvas {
    background: transparent !important;
}

.heroBg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5;
}

.heroModel canvas {
    position: relative;
    z-index: 2;
}

.selectedProjects {
    margin-top: 5%;
    font-family: "Elms";
    font-size: var(--fs-xxs);
    width: 90%;
    padding-left: 5%;
    color: var(--accent);
}

.selTitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.selSub {
    width: 60%;
}

.compassLine {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.compassLine img {
    width: 20%;
}

.compassLine span {
    flex: 1;
    height: 1px;

    background: linear-gradient(90deg,
            #B08D57,
            #F6F3EE);
}

.featured {
    width: 100%;
    margin-bottom: 15%;
}

.featureNumber {
    padding-top: 5%;
    font-weight: 600;
}

.featuredName {
    font-family: "Lora";
    color: var(--text);
    font-size: var(--fs-xl);
    font-weight: 300;
}

.featuredDesc {
    font-size: var(--fs-xs);
    color: var(--text);
    font-weight: 500;
    padding-right: 20%;
}

.btnGoProject {
    width: auto;
    background: none;
    align-items: center;
    font-family: "Elms";
    font-size: var(--fs-xs);
    font-weight: 600;
    gap: 10%;
    border: none;
    padding-bottom: 5px;
    color: var(--text-faint);
    white-space: nowrap;
    text-align: justify;
}

.featuredModels {
    position: relative;
    width: 100%;
    height: 20vh;
}

.aboutCont {
    width: 100%;
}

.aboutCont img {
    width: 75%;
}

.abTitle {
    margin-top: 5%;
    font-family: "Elms";
    font-size: var(--fs-xxs);
    width: 90%;
    padding-left: 5%;
    color: var(--accent);
}


.abTop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.abTop img {
    width: 10%;
}

.abSub {
    width: 30%;
}

.compassAb {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 12px;

}

.compassAb span {
    flex: 1;
    height: 1px;

    background: linear-gradient(90deg,
            #B08D57,
            #F6F3EE);
}


.aboutDescArea {
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    color: var(--text);
}

.abText {
    width: 60%;
}

.abMe {
    font-family: "Elms";
    font-size: var(--fs-xs);
    font-weight: 500;
    padding-bottom: 10%;

}

.mePhoto {
    width: 40%;
    flex-shrink: 0;
}

.mePhoto img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: 12px;
    object-fit: cover;
}

.footerMap{
    background-color: var(--border);
    margin-left: -5%;
    margin-bottom: -5%;
    margin-top: 5%;
}

.bannerText{
    margin-top: 5%;
    font-family: "Elms";
    font-size: var(--fs-xs);
    width: 75%;
    font-weight: 500;
    padding-left: 5%;
    color: var(--text);
    padding-bottom: 5%;
}