@import url(./index.css);

main {
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.landingWelcome {
    width: 100%;
    height: 100vh;
}

.wlcTitle {
    font-family: "Elms";
    font-size: var(--fs-xs);
    color: var(--accent);
    padding-right: 20%;
    padding-top: 5%;
    font-weight: 500;
}