@font-face {
  font-family: "Lora";
  src: url(../public/fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Elms";
  src: url(../public/fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf);
}

:root {
  /* Base */
  --bg: #F6F3EE;
  --bg-secondary: #EFE9DF;
  --surface: #E7DED0;

  /* Text */
  --text: #4A433D;
  --text-light: #7B736A;
  --text-faint: #AAA195;

  /* Accent */
  --accent: #B08D57;
  --accent-light: #D4B98B;

  /* Borders */
  --border: #D8CEC0;
  --border-light: #E9E1D6;

  /* Special */
  --stone: #DDD1BE;
  --stone-dark: #C5B49C;
  --shadow: rgba(92, 72, 46, 0.08);

    /* Font Sizes */
  --fs-xs: 10pt;
  --fs-sm: 12pt;
  --fs-md: 14pt;
  --fs-lg: 18pt;
  --fs-xl: 24pt;
  --fs-xxl: 32pt;
  --fs-display: 48pt;
}

*{
  background-color: var(--bg);
}